<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>ToDoリスト</title>
</head>
<body>
	<div class="container">
		<form th:action="@{/todo/insert}" th:object="${todoForm}" method="POST">
			<table>
				<tr>
					<th>ToDoタイトル</th>
					<td><input type="text" class="text-long" th:field="*{todoTitle}" /></td>
				</tr>
			</table>
			<input class="button" type="submit" name="insert" value="送信" />
		</form>
	</div>
	<div class="container">
		<table>
			<thead>
				<tr>
					<th>No.</th>
					<th>やること</th>
					<th>作成日</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${!#lists.isEmpty(todoList)}" th:each="todo : ${todoList}">
					<td th:text="${todo.todo_id}"></td>
					<td th:text="${todo.todo_title}"></td>
					<td th:text="${todo.date}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
